<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet">
    <title>Frontend Bootcamp</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <h1 class="header">Log in</h1>
            <div class="form_input">
                <div class="form_item">
                    <p>Username or email address</p>
                    <input type="email" placeholder="  kitchi@gmail.com">
                </div>
                <div class="form_item">
                    <p>Password</p>
                    <input type="password" placeholder="  123456">
                </div>
                <div class="option">
                    <div class="checkbox">
                        <input type="checkbox">
                        <label for="Remember me">Remember me</label>
                    </div>
                    <a href="#" class="forget">Forget Password</a>
                </div>
                <div class="btn">
                    
                    <button type="submit">Log In</button>
                    <p>Dont you have a account? <a href="#">Sign Up</a></p>
                </div>
            </div>

        </div>
        <div class="welcome">
            <div class="welcome_header"><p>Welcome <a>Back!</a></p></div>
            
        </div>
    </div>
</body>
</html>