<div class="container pt-2">
  <div class="">
    <!-- Shop Container Start -->
    <div class="smallContainer">
      <img src="https://media.istockphoto.com/id/1071414426/photo/wooden-tabletop-over-defocused-kitchen-background.jpg?s=612x612&w=0&k=20&c=Ml9hyox3LoPw9KZsx-12OdZv-nkCsBwxu9fpGmS-V5c="
      alt="" class="shopimg">
      <div class="centered">
        <h1>Shop</h1>
        <h4>Home > Shop</h4>
      </div>
    </div>
    <!-- Shop Container End -->

      <!-- Container Section Start -->
      <section class="bg-color">
        <!-- Filter Row And Search bar Start -->
        <div class="d-flex">
          <div class="p-2 flex-fill">
            <div class="filter" id="Filter">
              <div class="filterIcon">
                <i class="bi bi-filter"></i> <span>Filter</span>
              </div>
              <div class="vl"></div>
              <span>Show 1-16 of 32 results</span>
            </div>
          </div>
          <div class="p-2 flex-fill">
            <!-- Search bar Start -->
            <div class="col-md-5 mx-auto pt-4">
              <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="search" id="search-input">
                <span class="input-group-append">
                  <button class="btn btn-secondary bg-primary border-bottom-0 border rounded-pill ms-n5 " type="button">
                    <i class="bi bi-search" style="color: white;"></i>
                  </button>
                </span>
              </div>
            </div>
            <!-- Search bar End -->
          </div>
        </div>
        <!-- Filter Row & Search Bar End -->

        <!-- Category & Product Card Start -->
        <div class="row">
          <!-- Left Side -->
          <div class="col-12 col-sm-3">
            <div class="filter">
              <!-- Category List Start -->
              <div class="Category">
                <h3>Categories</h3>
                <div class="categorylist">
                  <p class="col-2">Fashionware</p>
                  <p class=" cateQty">10</p>
                </div>
                <div class="categorylist">
                  <p class="col-2">Kitchenware</p>
                  <p class=" cateQty">10</p>
                </div>
                <div class="categorylist">
                  <p class="col-2">Electronics</p>
                  <p class=" cateQty">10</p>
                </div>
                <div class="categorylist">
                  <p class="col-2">Accessories</p>
                  <p class=" cateQty">10</p>
                </div>
              </div>
              <!-- Category List End -->

              <!-- Price Slider Start -->
              <div class="Price">
                <h3>Price</h3>
                <div data-role="page">
                  <div data-role="main" class="ui-content">
                    <form method="post" action="/action_page_post.php">
                      <div data-role="rangeslider">
                        <input type="range" class="slider" name="price-min" id="price-min" value="200" min="0" max="1000">
                      </div>
                        <input type="submit" data-inline="true" value="Submit" class="submit">
                        <p class="priceRange">Price : $20 - $400</p>
                      </form>
                  </div>
                </div>
              </div>
              <!-- Price Slider End -->

              <!-- Brand Start -->
              <div class="Brand">
                <h3>Brand</h3>
                <div class="brandList">
                  <div class="button">
                    <button type="button" class="btn btn-light">Studio</button>
                  </div>
                  <div class="button">
                    <button type="button" class="btn btn-light">Hastech</button>
                  </div>
                  <div class="button">
                    <button type="button" class="btn btn-light">Quicklin</button>
                  </div>
                  <div class="button">
                    <button type="button" class="btn btn-light">Graphic Corner</button>
                  </div>
                  <div class="button">
                    <button type="button" class="btn btn-light">DevItem</button>
                  </div>


                </div>

              </div>
              <!-- Brand End -->
            </div>
          </div>

          <!-- Right Side -->
          <div class="col-12 col-sm-9">
             <!-- Card Start -->
            <div class="row">
            <!-- 1st Card Start -->
            <div class="col-sm-4 py-2" *ngFor="let product of products">
              <div class="card card-body h-100">
                <div class="card-main">
                  <div class="discount">New</div>
                  <div class="image">
                    <img src="{{product.image}}" alt="Product">
                  </div>
                  <div class="cart-line"></div>

                </div>
                <div class="content">
                  <h6 id="productTitle">{{product.title}}</h6>
                  <div class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                  <p><span class="money">{{product.price | currency}}</span><span class="price-old">{{product.price + 5 | currency}}</span></p>
                  <a [routerLink]="['/productdetails/',product.id ]" class="btn btn-primary" href="">See Details</a>
                </div>
              </div>
          </div>
        <!-- 1st Card End -->


      </div>
        <!-- Pagination Start-->
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
      <!-- Pagination End -->
      <!-- Card End -->
    </div>
  </div>
  <!-- End -->

  <div class="d-flex ServiceDetail" id="service">
    <div class="p-2 flex-fill">
      <h1>Free Delivery</h1>
      <h5>For all orders over $50$, consectetur adipiscing elit </h5>
    </div>
    <div class="p-2 flex-fill">
      <h1>90 Days Return</h1>
      <h5>If goods have problems, consectetur adipiscing elit</h5>
    </div>
    <div class="p-2 flex-fill">
      <h1>Secure Payment</h1>
      <h5>100% Secure payment, consectetur adipiscing elit</h5>
    </div>
  </div>
  <!-- Footer. -->
  <app-footer></app-footer>
  </section>
    <!-- Container Section End -->
  </div>
</div>

