<div class="container pt-2">
  <div class="">
    <!-- First Row Start-->
    <div class="row">
      <div class="container Bg">
        <div class="row ">
          <div class="col-md-6">
            <div class="card" id="card">
                <div class="model">
                  <h2>New Model</h2>
                  <p><li class="nav-link">>> Shop Now</li></p>
                  <h5>Anodized to absorb, distribute and transfer heat evenly and efficiently, these two frying pans sautée mushrooms, fry eggs, caramelize onions and bake frittatas.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="card" id="card">
                <div class="model">
                    <div class="image">
                        <img src="../../../assets/image/pan/pan5-removebg.png" alt="Product">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>
    <!-- First Row End-->

    <!-- Container Section Start -->
    <section class="bg-color">
      <div class="containers">
        <!-- 1st Row Section Start-->
          <div class="row">
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-main">
                          <div class="image" style="justify-content: center;">
                              <img src="{{url}}" alt="Product">
                          </div>
                      </div>
                      <div class="content">
                          <h2>Pan</h2>

                          <p><li class="nav-link">>> View More</li></p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-main">
                          <div class="image">
                              <img src="../../../assets/image/kettle/kettle2.jpg" alt="Product">
                          </div>
                      </div>
                      <div class="content">
                          <h2>Kettle</h2>
                          <p><li class="nav-link">>> View More</li></p>
                      </div>
                  </div>
              </div>
          </div>
        <!-- 1st Row Section End-->

         <!-- 2nd Row Section Start-->
          <div class="row ">
            <div class="col-md-6">
              <div class="card">
                <div class="card-main">
                    <div class="image">
                      <img src="../../../assets/image/kettle/kettle4.jpg" alt="Product">
                    </div>
                </div>
                <div class="content">
                    <h2>Kettle</h2>
                    <p><li class="nav-link">>> View More</li></p>
                </div>
              </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../../../assets/image/kettle/kettle2.jpg" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h2>Kettle</h2>
                        <p><li class="nav-link">>> View More</li></p>
                    </div>
                </div>
            </div>
          </div>
        <!-- 2nd Row Section End-->

        <!-- Top Picks For You Start -->
          <div class="title">
            <h2><span>Top Picks For You</span></h2>
            <p>Find a bright ideal to suit your taste with our great selection of suspension, florr and table lights.</p>
          </div>
        <!-- Top Picks For You End -->

        <!-- Card Start -->
          <div class="row">
            <!-- 1st Card Start -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">New</div>

                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/image/kettle/kettle1.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/image/kettle/kettle2.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/image/kettle/kettle3.jpg"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>

                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Kettle</a>
                        <div class="rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
          <!-- 1st Card End -->

          <!-- 2nd Card Start -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">New</div>

                        <div class="product-container">
                            <div class="p"><img src="../../../assets/image/kettle/kettle1.jpg" alt="Product"></div>
                            <div class="p"><img src="../../../assets/image/kettle/kettle2.jpg" alt="Product"></div>
                            <div class="p"><img src="../../../assets/image/kettle/kettle3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../../../assets/image/kettle/kettle2.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>

                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Kettle</a>
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
          <!-- 2nd Card End -->

          <!-- 3rd Card Start -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">New</div>

                        <div class="product-container">
                            <div class="p"><img src="../../../assets/image/kettle/kettle1.jpg" alt="Product"></div>
                            <div class="p"><img src="../../../assets/image/kettle/kettle2.jpg" alt="Product"></div>
                            <div class="p"><img src="../../../assets/image/kettle/kettle3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../../../assets/image/kettle/kettle3.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>

                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Kettle</a>
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
           <!-- 3rd Card End -->

           <!-- 4th Card Start -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">New</div>

                        <div class="product-container">
                            <div class="p"><img src="../../../assets/image/pan/pan1.jpg" alt="Product"></div>
                            <div class="p"><img src="../../../assets/image/pan/pan2.jpg" alt="Product"></div>
                            <div class="p"><img src="../../../assets/image/pan/pan3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../../../assets/image/pan/pan1.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>

                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Kettle</a>
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
          <!-- 4th Card End-->
          </div>
        <!-- Card End -->

        <div class="row FFacebook" >
          <h1>Our Facebook Page</h1>
          <h6>Follow our store on Facebook</h6>
          <button type="button" class="btn btn-primary">Follow US</button>
        </div>


      </div>
      <!-- Footer. -->
      <app-footer></app-footer>
    </section>
    <!-- Container Section End -->
  </div>
</div>

